@model HotelsServices.ViewModels.Home.DetailsVM

<div class="row">
    <div class="col-md-6">
        <p style="text-align: right;">
            <a style="text-decoration: none;" title="Български" asp-action="Details" asp-controller="Home" asp-route-id="@Model.Id" asp-route-lang="">
                <img src="~/images/bg.gif" />
            </a>
            <a style="text-decoration: none;" title="English" asp-action="Details" asp-controller="Home" asp-route-id="@Model.Id" asp-route-lang="en">
                <img src="~/images/en.png" />
            </a>
            <a style="text-decoration: none;" title="Руский" asp-action="Details" asp-controller="Home" asp-route-id="@Model.Id" asp-route-lang="ru">
                <img src="~/images/ru.png" />
            </a>
        </p>
        <h1>
            @Model.Name
            @for (int i = 0; i < Model.Stars; i++)
            {
                <img src="~/images/star.png" />
            }
        </h1>
        <p class="lead">@Model.City, @Model.Address</p>
        <p class="lead">Цена на вечер: <span class="badge">@Model.Price.ToString(".00") лв.</span></p>
        <p class="lead">Брой стаи: <span class="badge">@Model.RoomsCount</span></p>
        <p>@Model.Description</p>

        @if (Model.Facilities != null && Model.Facilities.Count > 0)
        {
            <p><b>Удобства:</b></p>
            <ul class="facilities">
                @foreach (var facility in Model.Facilities)
                {
                    <li>@facility</li>
                }
            </ul>
        }
    </div>
    <div class="col-md-6">

    </div>
</div>
