@model HotelsServices.ViewModels.Home.DetailsVM

<div class="row">
    <div class="col-md-6">
        <p style="text-align: right;">
            <a style="text-decoration: none;" title="Български" asp-action="Details" asp-controller="Home" asp-route-id="@Model.Id" asp-route-lang="">
                <img src="~/images/bg.gif" />
            </a>
            <a style="text-decoration: none;" title="English" asp-action="Details" asp-controller="Home" asp-route-id="@Model.Id" asp-route-lang="en">
                <img src="~/images/en.png" />
            </a>
            <a style="text-decoration: none;" title="Руский" asp-action="Details" asp-controller="Home" asp-route-id="@Model.Id" asp-route-lang="ru">
                <img src="~/images/ru.png" />
            </a>
        </p>
        <h1>
            @Model.Name
            @for (int i = 0; i < Model.Stars; i++)
            {
                <img src="~/images/star.png" />
            }
        </h1>
        <p class="lead">@Model.PhoneNumber, @Model.City, @Model.Address</p>
        <p class="lead">@Model.LabelSingleRoom <span class="badge">@Model.SingleRoomPrice.ToString(".00") @Model.LabelLv</span></p>
        <p class="lead">@Model.LabelDoubleRoom <span class="badge">@Model.DoubleRoomPrice.ToString(".00") @Model.LabelLv</span></p>
        <p class="lead">@Model.LabelTripleRoom <span class="badge">@Model.TripleRoomPrice.ToString(".00") @Model.LabelLv</span></p>
        <p class="lead">@Model.LabelRoomsCount <span class="badge">@Model.RoomsCount</span></p>
        <p>@Model.Description</p>

        @if (Model.Facilities != null && Model.Facilities.Count > 0)
        {
            <p><b>@Model.LabelFacilities</b></p>
            <ul class="facilities">
                @foreach (var facility in Model.Facilities)
                {
                    <li>@facility</li>
                }
            </ul>
        }
    </div>
    <div class="col-md-6">
        <h1>Reservation</h1>
        <form id="reservation-form">
            <input type="hidden" name="HotelId" value="@Model.Id" />
            <input type="hidden" name="HotelName" value="@Model.Name" />
            <input type="hidden" name="CreateDate" value="@DateTime.Now.ToString("dd.MM.yyyy")" />

            <div class="row">
                <div class="col-md-6 form-group">
                    <label>From</label>
                    <input type="text" class="form-control datepicker" name="DateFrom" />
                </div>
                <div class="col-md-6 form-group">
                    <label>To</label>
                    <input type="text" class="form-control datepicker" name="DateTo" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Adults</label>
                    <select class="form-control" name="AdultsCount">
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label>Children</label>
                    <select class="form-control" name="ChildrenCount">
                        <option value="0" selected>0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <input type="button" class="btn btn-primary" id="reservation-submit" value="Go!" />
        </form>
    </div>
</div>
